
__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/

venv/
.env/
.venv/
env/


pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

.idea/

.DS_Store
Thumbs.db

*.log

*.tmp
*.swp


.env
